/Compressio_LZ-77/nbproject/private/
/TM_Project_2L/nbproject/private/
Compressio_LZ-77/nbproject/build-impl.xml
Compressio_LZ-77/nbproject/build-impl.xml
TM2015-master/Codec/build.xml
TM2015-master/Codec/manifest.mf
*.properties
TM2015-master/Codec/src/Encoder/Frame.java
TM2015-master/TM_L1/Cubo00.png
TM2015-master/Codec/src/ZipHandler/ZipHandler.java
TM2015-master/Codec/Cubo.zip
TM2015-master/Codec/nbproject/project.xml
TM2015-master/Codec/src/Encoder/Tesela.java
TM2015-master/Codec/src/GUI/ChangeImage.java
TM2015-master/Codec/src/Args/ArgParser.java
TM2015-master/Codec/src/Args/FileExists.java
TM2015-master/Codec/nbproject/private/private.xml
TM2015-master/Codec/src/GUI/Filters.java
TM2015-master/TM_L1/Cubo.zip
TM2015-master/README.md
TM2015-master/Codec/src/GUI/Visor.java
TM2015-master/Codec/src/GUI/Main.java
TM2015-master/Codec/src/GUI/FPSCounter.java
TM2015-master/Codec/src/Encoder/Encoder.java
TM2015-master/Codec/src/Encoder/Decoder.java
/TM_Project_2L/build/
/TM_Project_2L/dist/
*.jpeg
/TM2015-master/Codec/build/
/TM2015-master/Codec/dist/
*.zip
*.png